# Server
PORT=4000
NODE_ENV=development

# JWT
JWT_SECRET=replace_with_a_long_random_string
JWT_EXPIRES_IN=1d

# Database
# Local MongoDB:
#   DATABASE_URL=mongodb://127.0.0.1:27017/hrms_impactai
# MongoDB Atlas (note: include the /hrms_impactai db name before the "?"):
#   DATABASE_URL=mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/hrms_impactai?retryWrites=true&w=majority
DATABASE_URL=mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/hrms_impactai?retryWrites=true&w=majority
